html{
  font-size: 62.5%;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





/* TASK MANAGEMENT CONTAINER */
.task-manager-container{
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 7.2rem;
}

.task-manager-container h1{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #444;
}



/* TASK MANAGER INNER CONTAINER 1 */
.tm-inner-container-1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 3.2rem;
}


.add-task-inp{
  width: 60%;
}
.add-task-inp input{
  width: 100%;
  padding: 0.8rem 1.6rem;
  border: 1px solid #666;
  border-radius: 0.6rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  font-weight: 500;
}

.add-task-btn button{
  padding: 0.8rem 1.6rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  border-radius: 0.6rem;
  border: none;
  background-color: #1370EC;
  color: #fff;
  font-weight: 600;
}





/* TASK CONTAINER */
.task-heading{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.task-section{
  margin-top: 4.8rem;
}

.task-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  max-width: 80%;
  margin: 0 auto;
}

.check-box{
  height: 2.2rem;
  width: 2.2rem;
  border: 1px solid #666;
}
.check-box img{
  height: 100%;
}

.task-text{
  width: 50%;
}
.task-text p{
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

.task-time p{
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #777;
}

.task-edit button, .task-delete button{
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
  background-color: #666;
  color: #fff;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
}



.upper-border{
  border-top: 1px solid #666;
  /* border-left: 1px solid #666;
  border-right: 1px solid #666; */
  /* margin-top: 1.6rem; */
}
.bottom-border{
  border-bottom: 1px solid #666;
}







/* LOGOUT */
.task-manager-container{
  position: relative;
}

.abs-btn-task-manager{
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  position: absolute;
  right: 4rem;
  background-color: green;
  border: 1px solid green;
  color: #ffffffef;
  padding: 0.6rem 0.8rem;
  letter-spacing: 0.2px;
  font-weight: 600;
  border-radius: 0.5rem;
  transform: translateX(-50%);
}




@media(max-width: 573px)
{
  html{
    font-size: 50%;
  }
  .abs-btn-task-manager{
    right: 0;
  }
}



/* 37.5% */
@media(max-width: 303px)
{
  html{
    font-size: 37.5%;
  }
}